<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->


    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <p class="navbar-text"> <a href="https://www.google.com/maps/dir//701+Cleveland+St,+Clearwater,+FL+33755/@27.9653383,-82.7989058,17z/data=!4m16!1m7!3m6!1s0x88c2f0e0d61e2ca3:0xfa62c6012d942316!2s701+Cleveland+St,+Clearwater,+FL+33755!3b1!8m2!3d27.9653383!4d-82.7967171!4m7!1m0!1m5!1m1!1s0x88c2f0e0d61e2ca3:0xfa62c6012d942316!2m2!1d-82.7967171!2d27.9653383" target="_blank">
         701 Cleveland St.
        Clearwater FL. 33755  </a> </p>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <p class="navbar-text"> <a href="tel:17276671028"> Phone: +1(727)667-1028 </a>  </p>
         <!-- <a href="mailto:pedro@cordovezwinwinwin.com?Subject=Consultation%20request">
           pedro@cordovezwinwinwin.com
         </a> -->
        </li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>



<!--
<div id="contact1">
701 Cleveland St. <br/>
Clearwater FL. 33755
</div>
<div id="contact2">
  pedro@cordovezwinwinwin.com <br/>
  1+727-667-1028
</div> -->

<hr />
<div id="main-heading">
  <h2>
    Dr. Pedro Cordovez, DOM
  </h2>
  <h3>
  Providing effective, drug-free, pain-relieving
  treatments in Clearwater, Florida
  </h3>
</div>
<hr />

<div id="part1">
  <%= image_tag "drpedro.jpg", :id => "drpedro" %>

  <p id="intro"> First things first, what is a DOM? Well, DOM stands for Doctor of Oriental
     Medicine. Dr. Pedro Cordovez practices Chinese Medicine which has been recognized by the
     National Institute of Health (NIH) to be effective in the treatment of a
     wide variety of medical problems. Dr. Pedro Cordovez specializes in
     relieving body pain and does with a drug-free approach. Depending on
     your particular case, he will use one or all of the following aspects of
     Chinese Medicine to help you: Accupuncture, Herbalism, Therapeutic Body
     Manipulation and Nutrition. Come experience true pain relief with a system of
     medicine that has proven to be effective for over 5,000 years.
  </p>
</div>

<div id="symbol-div">
  <figure>
    <%= image_tag "friendly_acupunc.jpg", :class => "symbol-pics", :id => "acupuncture" %>
    <figcaption>
      Friendly Acupuncture
    </figcaption>
  </figure>

  <figure id="herb-figure">
    <%= image_tag "herbalism.jpg", :class => "symbol-pics", :id => "herbalism" %>
    <figcaption>
      Nutraceutical Herbalism
    </figcaption>
  </figure>

  <figure>
    <%= image_tag "body_manipulation.jpg", :class => "symbol-pics", :id => "body-manipulation" %>
    <figcaption>
      Therapeutic Manipulation
    </figcaption>
  </figure>

  <figure>
    <%= image_tag "veggies4.jpg", :class => "symbol-pics", :id => "nutrition" %>
    <figcaption>
      Tailored Nutrition
    </figcaption>
  </figure>

</div>

<div id="part2">
  <div id="pics-div">
  <%= image_tag "headache.jpeg", :class => "pain-pics" %> <br />
  <%= image_tag "elbowpain.jpeg", :class => "pain-pics" %> <br />
  <%= image_tag "wristpain.jpeg", :class => "pain-pics" %> <br />
  <%= image_tag "backpain.jpeg", :class => "pain-pics" %> <br />
  </div>

  <br /> <br /> <br />

   <h4 id="pain-list-intro">These are the types of body-pain that Dr. Cordovez works
      to eleminate <br /> <br />
    Do any of these apply to you? </h4>
  <ul id="pain-list">

   <li> Headache </li>
   <li> Sudden facial deviation </li>
   <li> Unilateral facial paralysis </li>
   <li> Neck pain </li>
   <li> Earache </li>

   <li> Frozen Shoulder </li>
   <li> Shoulder Pain </li>

   <li> Upper back pain/tension </li>
   <li> Mid back pain </li>
   <li> Lower back pain </li>

   <li> Elbow pain </li>
   <li> Tennis Elbow </li>
   <li> Arm pain </li>
   <li> Wrist Pain </li>
   <li> Hands too weak to grasp objects </li>
   <li> Finger pain </li>
   <li> Tired feet </li>
   <li> Toe Pain </li>
   <li> Fibromyalgia </li>

 </ul>
</div>

<div id="part3">
  <p id="part3-firstp">
  After years of direct observation and international practice, Dr. Cordovez has
  put together a holistic approach far beyond the
  current Western and Oriental Medical viewpoints.  There are other key factors
  that Dr. Cordovez considers in his practice for your benefit. If appropritae,
  Dr. Cordovez will route you to the proper channels to handle your specific situation.
  </p>
  <p>
    The 7 factors that have direct effect on your total wellness are as follows:
  </p>
  <p>Environmental Influences</p>
  <p>Breathing Patterns</p>
  <p>Recreational Habits</p>
  <p> Resting and Sleeping Habits</p>
  <p>Mental and Spiritual Activities</p>
  <p>Workout Patterns</p>
  <p>Eating &amp; Drinking Habits</p>
</div>
