<h2 id="main-heading"> I am Dr. Pedro Cordovez, DOM. <br />
  I provide drug-free pain relief in the Clearwater Area!
</h2>

<div id="part1">
  <%= image_tag "drpedro.jpg", :id => "drpedro" %>

  <p id="intro"> First things first, what is a DOM? Well, DOM stands for Doctor of Oriental
     Medicine. I practice Chinese Medicine which has been recognized by the
     National Institute of Health (NIH) to be effective in the treatment of a
     wide variety of medical problems. I specifically specialize in
     relieving body-pain and I do so with a drug-free approach. Depending on
     your particular case, I will use one or all of the following aspects of
     Chinese Medicine to help you: Accupuncture, Herbalism, Therapeutic Body
     Manipulation and Nutrition. Come experience true pain relief with a system of
     medicine that has proven to be effective for over 5,000 years.
  </p>
</div>

<div id="part2">
  <div id="pics-div">
  <%= image_tag "headache.jpeg", :class => "pain-pics" %> <br />
  <%= image_tag "elbowpain.jpeg", :class => "pain-pics" %> <br />
  <%= image_tag "wristpain.jpeg", :class => "pain-pics" %> <br />
  <%= image_tag "backpain.jpeg", :class => "pain-pics" %> <br />
  </div>

  <ul id="pain-list">
   <p id="pain-list-intro">These are the types of body-pain that I work to alleviate. <br />
    Do any of these apply to you? </p>
   <li> Headache </li>
   <li> Earache </li>
   <li> Neck pain </li>
   <li> Frozen Shoulder </li>
   <li> Shoulder Pain </li>
   <li> Upper back pain/tension </li>
   <li> Mid back pain </li>
   <li> Lower back pain </li>
   <li> Elbow pain </li>
   <li> Tennis Elbow </li>
   <li> Arm pain </li>
   <li> Wrist Pain </li>
   <li> Hands too weak to grasp objects </li>
   <li> Tired feet </li>
   <li> Fibromyalgia </li>
   <li> Finger pain </li>
   <li> Toe Pain </li>
   <li> Sudden facial deviation or unilateral face paralysis </li>
 </ul>
</div>

<div id="part3">
   <p> There is no need to live with that pain any longer! Call me now for a consultation.
     <br />
     I am happy to answer any questions you may have. (727)667-1028
     <br />
     You can also email me at pedro@cordovezwinwinwin.com
   </p>
</div>
